#sidebar-layout {
    display: flex;
    position: relative;
    padding: 19px 30px;
    padding-right: 10px !important;
    flex-direction: column;
}

#sidebar-head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#back-arrow {
    width: 22px;
    right: 3px;
    top: 22px;
    cursor: pointer;
    position: absolute;
}